.fontSize{font-size: 18px;color: #fff !important;}
.top {
	width: 100%;
	height: 700px;
	background: url(../img/web-3.png) no-repeat 0px bottom;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;}

.top-1 {
	text-align: center;
	line-height: 100px;
	height: 100px;
	position: relative;
	top: 190px;
	font-size: 40px;
	color: #fff;
}
.dhbgcolor{background-color: #95bbc8 !important;border-bottom: 0px;}
.introduce{width:90%;margin: 80px auto; position: relative;}
.introduce>h1 {
	text-align: center;
}

.introduce>span {display: block;width: 150px;height: 5px;background-color: #95bbc8;margin: 0 auto;margin-bottom: 50px;}
.introduce>.row>.introduceRight img{position: relative;right: 0px;width: 100%;}
.introduce>.row>.introduceLeft>h3,.introduce>.row>.introduceLeft>h4{
	line-height: 2.5em;
}

.introduce>.row>.introduceLeft>.intro-1{
	font-size:100%;
	line-height: 2em;
	margin: 10px 0px;
}

@media screen and (max-width: 1280px) {
	.top {
		height: 700px;
	}
}

@media screen and (max-width: 768px) {
	.top {
		height: 550px;
	}
	.top-1 {
		text-align: center;
		line-height: 80px;
		height: 80px;
		position: relative;
		top: 120px;
		font-size: 35px;
		color: #fff;
	}
}

@media screen and (max-width: 580px) {
	.top {
		height: 450px;
	}
	.top-1 {
		text-align: center;
		line-height: 60px;
		height: 60px;
		position: relative;
		top: 110px;
		font-size: 20px;
		color: #fff;
	}
}
.contactMe{text-align: center;height: 460px;padding: 60px 0px; background-color:#95bbc8;}
.contactMe *{line-height: 2.2;color: #FFFFFF;}
.navMain{width:90%;margin:0 auto;}
